<%- include('../template/header.ejs') %>
    <div id="layoutSidenav">
        <%- include('../ATN/side-nav.ejs') %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Add new product</h1>
                        <!-- <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol> -->

                        <div class="card mb-4">
                            <div class="card-header">
                                <% if(typeof successMessage !=='undefined' ) {%>
                                    <div class="alert alert-success" role="alert">
                                        <%= successMessage %>
                                    </div>
                                    <%} %>
                            </div>
                            <div class="card-body">
                                <form method="POST" action="/admin/product">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Product name</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter product name" name="name">

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Description</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Enter description" name="description">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Price</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Enter price" name="price">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Quantity in stock</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Enter quantity" name="qtyInStock">
                                    </div>
                                    <!-- <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                            name="isSale">
                                        <label class="form-check-label" for="exampleCheck1">SALE</label>
                                    </div> -->
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
    </div>
    </body>
    <%- include('../template/footer.ejs') %>